.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 3px;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.2;
}

.header__leftMenu {
  height: 40px;
  width: 40px;
  align-items: center;
  vertical-align: middle;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 5px !important;
  background-color: white;
}

.header__left > img {
  cursor: pointer;
  object-fit: cover;
  height: 40px;
  padding: 10px;
  background-color: white;
}

.header__middle {
  display: flex;
  flex-direction: row;
  flex: 0.7;
  padding: 5px 10px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  color: gray;
  background-color: whitesmoke;
  margin-left: 10px;
}
.header__middle > input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  color: gray;
  outline-width: 0;
  font-size: medium;
  margin-left: 10px;
}

.header__right {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.header__avatar {
  display: flex;
  flex-direction: column;
}

.header__avatar > p {
  font-size: 10px;
}
